.coding-container {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.coding-container .coding-title {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 10px;
}

.coding-container .row {
    justify-content: center;
}
.coding-container .coding-card {
    position: relative;
    width: 250px;
    height: 350px;
    background: var(--bg-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    color: var(--color2);
}

.coding-container .coding-card::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px 0px 0px 20px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}
.coding-container .coding-card:hover {
    transform: scale(1.1);
}

.coding-container .coding-card .coding-content {
    padding: 30px 10px 30px 10px;
    text-align: center;

}

.coding-container .coding-card .coding-content h3 {
    text-align: center;
    position: relative;
    font-size: 2.5em;
    z-index: 2;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-bottom: 20px;
    font-family: 'Grenze Gotisch', cursive;
}

.coding-container .coding-card .coding-content ul p {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
    text-align: left;
}
.coding-container .coding-card .coding-content a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background: var(--color1);
    color: var(--color2);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
}
.coding-container .coding-card:hover {
    background: var(--bg-color1);
}
