<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Static CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- social -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Philosopher&family=Ubuntu+Condensed&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Changa&family=Cuprum&family=Neuton:ital@0;1&family=Patrick+Hand&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">
  <title>Ravi Chaudhary</title>
</head>

<body>
  <!-- ----------------- Start of NavBar ------------------->
  <nav class="navbar smart-scroll navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">@malhotraravi842</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a id="about-link" class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skill1">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#workexperience">Experience</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- ----------------- End of NavBar ------------------->

  <!-- ----------------- Start of Banner ------------------->
  <header class="banner-home backgroundColor">
    <div class="banner">
      <div class="avatar">
        {% for a in about %}
        <img class="profile-pic" src="{{ a.profilePic.url }}" alt="Profile Pic">
        {% endfor %}
      </div>
      <div class="headline">
        <h1>Ravi Chaudhary</h1>
      </div>
      <div class="page">
        <div id="home-news">
          <div class="home_header">
            <strong>WEB</strong>
            <span>DEVELOPER</span>
          </div>
          <div class="home_header">
            <strong>FLUTTER</strong>
            <span>DEVELOPER</span>
          </div>
          <div class="home_header">
            <span>COMPETITIVE</span>
            <strong>PROGRAMMER</strong>
          </div>
        </div>
      </div>
      <!-- Social Icons-->
      <div class="social-icons">
        <ul class="social-network social-circle">
          <li><a href="mailto:malhotraravi842@gmail.com" class="icoEmail" title="Email Me" target="_blank"><i
                class="fa fa-envelope-o"></i></a></li>
          <li><a href="https://www.facebook.com/malhotraravi842/" class="icoFacebook" title="Facebook"
              target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/in/malhotraravi842/" class="icoLinkedin" title="Linkedin"
              target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.twitter.com/malhotraravi842/" class="icoTwitter" title="Twitter" target="_blank"><i
                class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.github.com/malhotraravi842/" class="icoGithub" title="Github" target="_blank"><i
                class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
    </div>
  </header>
  <!-- ----------------- End of Banner ------------------->

  <section id="about" class="about-area">
    <div class="about-title">
      <h1>About</h1>
    </div>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="container">
      {% for a in about %}
      <div class="paragraph col-lg-12">
        <div class="p"> {{ a.about1 }} </div>
      </div>
      <div class="paragraph col-lg-12">
        <div class="p"> {{ a.about2 }} </div>
      </div>
      {% endfor %}
      <div class="resume col-sm-12">
        {% for pdf in resume %}
        <a href="{{ pdf.resume.url }}"><button type="button" class="btn btn-success">Download CV</button></a>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--  ========================= End About Area ==========================  -->

  <!-- Skill Area -->

  <div id="skill1" class="skill-container backgroundColor">
    <div class="skills-title">
      <h1>Technical Skills</h1>
    </div>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <div class="">
      <h4 class="head">Languages</h4>
      <hr class="line">
      {% for language in languages %}
      <div class="card col-md-12 col-md-4">
        <div class="box">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle style="stroke-dashoffset: {{language.offset }}; stroke: {{ language.color }};" cx="70" cy="70"
                r="70"></circle>
            </svg>
            <div class="number">
              <h2>{{ language.percent }}<span>%</span></h2>
            </div>
          </div>
          <h2 class="text">{{ language.title }}</h2>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- IT Constructs -->
  <div id="skill2" class="skill-container backgroundColor">
    <div class="">
      <h4 class="head">IT Constructs</h4>
      <hr class="line">
      {% for it in itConstructs %}
      <div class="card">
        <div class="box">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle style="stroke-dashoffset: {{ it.offset }}; stroke: {{ it.color }};" cx="70" cy="70" r="70">
              </circle>
            </svg>
            <div class="number">
              <h2>{{ it.percent }}<span>%</span></h2>
            </div>
          </div>
          <h2 class="text">{{ it.title }}</h2>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Frameworks -->
  <div id="skill3" class="skill-container backgroundColor">
    <div class="">
      <h4 class="head">Frameworks</h4>
      <hr class="line">
      {% for framework in frameworks %}
      <div class="card">
        <div class="box">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle style="stroke-dashoffset: {{ framework.offset }}; stroke: {{ framework.color }};" cx="70" cy="70"
                r="70"></circle>
            </svg>
            <div class="number">
              <h2>{{ framework.percent }}<span>%</span></h2>
            </div>
          </div>
          <h2 class="text">{{ framework.title }}</h2>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Development Tools -->
  <div id="skill4" class="skill-container backgroundColor">
    <div class="">
      <h4 class="head">Development Tools</h4>
      <hr class="line">
      {% for tool in tools %}
      <div class="card">
        <div class="box">
          <div class="percent">
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle style="stroke-dashoffset: {{ tool.offset }}; stroke: {{ tool.color }};" cx="70" cy="70" r="70">
              </circle>
            </svg>
            <div class="number">
              <h2>{{ tool.percent }}<span>%</span></h2>
            </div>
          </div>
          <h2 class="text">{{ tool.title }}</h2>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- End of Skill-Area -->

  <!-- Start of Explore -->
  <div class="explore-area container">
    <h4>What I Do</h4>
    <div class="explore-title">
      <h1>Code, Read, Explore, Learn</h1>
    </div>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <section class="card-holder">
      {% for exp in explore %}
      <div class="explore-container col-lg-4 col-md-6 col-sm-12">
        <div class="explore-card">
          <div class="front">
            <div class="cover">
              <img src="{{ exp.image1.url }}" />
            </div>
            <div class="branded">
              <img class="imgExp" src="{{ exp.image2.url }}" alt="Explore">
              <h6>{{ exp.title }}</h6>
              <hr id="head">
            </div>
            <div class="content">
              <h2>{{ exp.choice1 }}</h2>
              <h2>{{ exp.choice2 }}</h2>
              <h2>{{ exp.choice3 }}</h2>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
  </div>
  <!-- End of Explore -->

  <!-- Work Experience -->
  <section id="workexperience" class="sectionClass backgroundColor">
    <div class="container ">
      <div class="work-title">
        <h1>Training & Work experience</h1>
      </div>
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="fullWidth eight columns">
        <ul class="cbp_tmtimeline">
          {% for job in jobs %}
          <li>
            <div class="cbp_tmicon cbp_tmicon-phone">
              <i class="faPra fa-briefcase"></i>
            </div>
            <div class="cbp_tmlabel wow fadeInRight animated">
              <h3>{{ job.title }}</h3>
              <div class="date">
                <i class="fa fa-calendar"></i>{{ job.startDate }} -
                {% if job.endDate %}
                {{ job.endDate }}
                {% else %}
                Present
                {% endif %}
              </div>
              <h4><i class="fa fa-flag"></i>{{ job.location }}</h4>
              <p class="projectParagraph">{{ job.summary }}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <!-- End of Work Experience -->



  <!--  ======================= Project Area =============================  -->
  <div class="project-container">
    <div id="project" class="project-title">
      <h1>Recent Projects</h1>
    </div>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    {% for project in projects %}
    <div class="project-card">
      <div class="imgBx">
        <img src="{{ project.image.url }}" alt="">
        <h1>{{ project.title }}</h1>
      </div>
      <div class="content">
        <p>{{ project.summary }}</p>
        <h4>Platform: <strong>{{ project.platform }}</strong></h4>
        <a href="{{ project.link }}">See Project</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--  ======================= End Project Area =============================  -->

  <!-- ========================= Coding Area ================================= -->
  <div class="coding-container backgroundColor">
    <div class="coding-title">
      <h1>Woried About my Coding Skills ?</h1>
    </div>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    {% for code in coding %}
    <div class="coding-card">
      <div class="coding-content">
        <h3>{{ code.title }}</h3>
        <ul>
          <p>Rating : {{ code.rating }}</p>
          <p>Rank : {{ code.ranking }}</p>
          <p>Problem Solved : {{ code.solved }}</p>
        </ul>
        <a href="{{ code.link }}">Visit</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- End of Coding Area -->

  <!-- Start of Blog Area -->

  <div class="blog-area">
    <div class="blog-title">
      <h1>Recent Articles</h1>
    </div>
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    {% for blog in blogs %}
    <div class="blog-card">
      <div class="thumbnail"><img class="left" src="{{ blog.image.url }}" /></div>
      <div class="right">
        <h1>{{ blog.title }}</h1>
        <div class="separator"></div>
        <div class="calendar fa fa-calendar">{{ blog.day }} {{ blog.month }}</div>
        <p class="blog-para">{{ blog.summary }}</p>
      </div>
      <div class="blog-date">
        <h5>{{ blog.day }}</h5>
        <h6>{{ blog.month }}</h6>
      </div>
      <p class="read-more"><a class="fa fa-arrow" href="{{ blog.link }}">Read</a></p>
    </div>
    {% endfor %}
  </div>
  <!-- End of Blog Area -->


  <!-- Footer -->
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Frameworks</h4>
              <ul class="list-unstyled">
                <li><a href="#">Flutter</a></li>
                <li><a href="#">Django</a></li>
                <li><a href="#">React</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>About</h4>
              <ul class="list-unstyled">
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="#">Disclaimer</a></li>
                <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h4>Research</h4>
              <ul class="list-unstyled">
                <li><a href="#">Artificial Intelligence</a></li>
                <li><a href="#">Machine Learning</a></li>
                <li><a href="#">Discovery & Research</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <h4>Contact Me</h4>
            <ul class="social-network social-circle">
              <li><a href="https://www.facebook.com/malhotraravi842/" class="icoFacebook" title="Facebook"
                  target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/malhotraravi842/" class="icoLinkedin" title="Linkedin"
                  target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.twitter.com/malhotraravi842/" class="icoTwitter" title="Twitter"
                  target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.github.com/malhotraravi842/" class="icoGithub" title="Github" target="_blank"><i
                    class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 copy">
            <p class="text-center">&copy; Copyright 2020 - Ravi Chaudhary. All rights reserved.</p>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- End of footer -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- Static Js -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
  <script src="{% static 'js/style.js' %}"></script>
</body>
<!--CSS Spinner-->
<div class="spinner-wrapper backgroundColor">
  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</div>

</html>